<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #444654;
      color: #ffffff;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      min-height: 100vh;
      flex-direction: column;
    }
    .header {
      background-color: #007bff;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header__logo {
      font-weight: bold;
      font-size: 20px;
    }
    .header__navigation {
      display: flex;
      align-items: center;
    }
    .header__navigation a {
      color: #ffffff;
      text-decoration: none;
      margin-right: 10px;
      transition: color 0.3s ease;
    }
    .header__navigation a:hover {
      color: #ffcc00;
    }
 
    .main-content {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: calc(100vh - 130px);
    }
    .video {
      margin-bottom: 20px;
      max-width: 100%;
    }
    .footer {
      background-color: #007bff;
      padding: 10px;
      text-align: center;
    }

    @media (max-width: 576px) {
      .header {
        flex-wrap: wrap;
        justify-content: center;
      }
      .header__navigation {
        margin-top: 10px;
      }
      .header__user-links {
        display: none;
      }
    }
    .header__navigation .activeee {
        color: #ffcc00;

    }
  </style>
   <script>
    function logout() {
      fetch('/logout', { method: 'GET' })
        .then(response => {
          if (response.redirected) {
            window.location.href = response.url;
          }
        })
        .catch(error => {
          console.error('Ошибка при выходе:', error);
        });
    }
  </script>
</head>
<body>
  <div class="header">
    <div class="header__logo">
      <a href="../dashboard" style="text-decoration: none;display:block; color: white">Физкультура</a>

    </div>
    <div class="header__navigation">
      <a href="/security">Техника безопасности</a>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="mediaDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 15px;">
        Медиа
      </button>
      <style>
        .blue {
          background-color: #007bff;
        }
      </style>
      <ul class="dropdown-menu blue" aria-labelledby="mediaDropdown">
        <li><a class="dropdown-item" href="/media">Тест по физкультуре</a></li>
        <li><a class="dropdown-item" href="/set">Правила ЗОЖ</a></li>
        <li><a class="dropdown-item" href="/k1">Инфографика</a></li>
        <li><a class="dropdown-item" href="/k2">Правила здорового образа жизни</a></li>
        <li><a class="dropdown-item" href="/k3">Мы за зож</a></li>
        <li><a class="dropdown-item" href="/k4">Пропаганда ЗОЖ</a></li>
        <li><a class="dropdown-item" href="/k5">Воспитание спортсменов</a></li>

        <li><a class="dropdown-item" href="/k6">Формирование ЗОЖ</a></li>

        <li><a class="dropdown-item" href="/k7">Необычные виды СПОРТА</a></li>
        <li><a class="dropdown-item" href="/k8">О проекте</a></li>



      </ul>
      <div class="header__user">
  
        <a href="#" onclick="logout()">Выйти</a>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2 class="text-center">Методический сайт по физической культуре</h2>
        <p>Создан специально для студентов, чтобы помочь им легко освоить и понять эту тему. Вот некоторые особенности и преимущества нашего сайта:</p>
        <ul>
          <li>Простой и понятный дизайн: Мы создали простой и интуитивно понятный дизайн сайта, чтобы студенты могли легко найти нужную информацию. Наш сайт имеет четкую навигацию и удобное меню, которое позволяет быстро переходить между различными разделами и темами.</li>
          <li>Учебные материалы: Мы предоставляем широкий спектр учебных материалов, включая методические рекомендации, учебные программы, пошаговые инструкции и примеры. Все материалы представлены простым и понятным языком, чтобы студенты могли легко усваивать информацию.</li>
          <li>Видеоуроки: Мы предлагаем видеоуроки, которые демонстрируют правильную технику выполнения упражнений, основные принципы физической подготовки и другие важные аспекты физической культуры. Студенты могут наблюдать за профессиональными тренерами и повторять упражнения вместе с ними.</li>
          <li>Тесты и викторины: Мы предлагаем интерактивные тесты и викторины, которые позволяют студентам проверить свои знания и понимание материала. Это помогает им оценить свой прогресс и выявить области, требующие дополнительного изучения.</li>
        </ul>
        <p>Цель сделать наш методический сайт по физической культуре максимально доступным и полезным для студентов. Мы верим, что он поможет им легко и интересно изучать эту тему, развивать свои навыки и достигать успеха в области физической культуры.</p>
      </div>
    </div>
  </div>
  
  
  <div class="footer">
    Заказчик Володин Евгений Александрович, Исполнитель Лукавский Виктор Анатольевич, руководитель Баймухан Айбек Болатбекович.
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
